<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="net.hyosun.love.persistance.CommentDao">
 	<select id="selectAll" resultType="CommentVO">
 		SELECT * FROM  tbl_comment
 	</select>
 	
 	<select id="findById" resultType="CommentVO">
 		SELECT * FROM  tbl_comment 
 		WHERE c_seq = #{c_seq}
 	</select>
 	
 	<select id="findByContentId" resultType="CommentVO">
 		SELECT * FROM  tbl_comment 
 		WHERE content_id = #{content_id}
 		ORDER by time
 	</select>
 	
 	<insert id="insert" parameterType="CommentVO">
 		INSERT INTO  tbl_comment(
 			username,
 			content_id,
 			nickname,
 			comment,
 			time,
 			profile_up_img
 		) VALUES (
 			#{username},
 			#{content_id},
 			#{nickname},
 			#{comment},
 			#{time},
 			#{profile_up_img}
 		)
 	</insert>
 	 	
 	<delete id="delete">
 		DELETE FROM tbl_comment
 		WHERE c_seq = #{c_seq}
 	</delete>
 	
 	<select id="create_comment_table">
 		create table IF NOT EXISTS tbl_comment (
			c_seq	 bigint			auto_increment primary key,
			content_id VARCHAR(20) NOT NULL,
			username varchar(30)	not null,
		    nickname varchar(10)	not null,
		 	comment  VARCHAR(125)	not null,
		 	time	 varchar(20)	not null,
		 	profile_up_img varchar(125)
			)
 	</select>
 
 </mapper>