<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.hyosun.love.persistance.LikeDao">
	<select id="selectAll" resultType="LikeVO">
		SELECT * from tbl_like
	</select>

	<select id="findById" resultType="LikeVO">
		SELECT * from tbl_like
		where like_id = #{like_id}
	</select>

	<select id="findByC_seq" resultType="LikeVO">
		SELECT count(*)
		from tbl_like
		where c_seq = #{c_seq} and content_id = #{content_id}
		group by c_seq;
	</select>

	<insert id="insert" parameterType="LikeVO">
		INSERT INTO tbl_like(
			like_id,
			c_seq,
			content_id,
			username
		) VALUES (
			#{like_id},
			#{c_seq},
			#{content_id},
			#{username}
		)
	</insert>

	<update id="update" parameterType="LikeVO">
	</update>

	<delete id="delete">
		DELETE FROM tbl_like
		where like_id = #{like_id}
	</delete>

	<select id="create_tbl_like">
		create table IF NOT EXISTS tbl_like (
		like_id bigint auto_increment primary key,
		c_seq bigint not null,
		content_id VARCHAR(20) NOT NULL,
		username varchar(30) not null
		)
	</select>

</mapper>